#profile-avatar-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    width: 2.8rem;
    height: 2.8rem;
    overflow: hidden;
}

#profile-avatar-obj {
    width: 75%;
    height: 100%;
    pointer-events: none;
}
