@import 'header/header';
@import 'header/profile-avatar';
@import 'footer/footer';
@import 'calendar/calendar';
@import 'profile/admin';
@import 'profile/profile';
@import 'game/game';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex-grow: 1;
}

.white-space-nowrap {
    white-space: nowrap;
}

.alert ul {
    margin-top: 0;
    margin-bottom: 0;
}
