.card-header .nav,
header .nav {
  --bs-nav-link-hover-color: white;
}
.card-header .dropdown-item,
.card-header .nav-link,
header .dropdown-item,
header .nav-link {
  color: white;
  transition: color 0.5s, background-color 0.5s, transform 0.5s;
  border-radius: 12px;
  font-size: 1rem;
}
.card-header .dropdown-item:hover,
.card-header .nav-link:hover,
header .dropdown-item:hover,
header .nav-link:hover {
  color: #ffe800;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-4px);
}
.card-header .dropdown-item:active,
.card-header .nav-link:active,
header .dropdown-item:active,
header .nav-link:active {
  color: #838300;
  transform: scale(0.92);
}
.card-header .nav-link,
header .nav-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#profile-avatar-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  width: 2.8rem;
  height: 2.8rem;
  overflow: hidden;
}

#profile-avatar-obj {
  width: 75%;
  height: 100%;
  pointer-events: none;
}

footer {
  margin-top: auto;
}
footer span {
  color: white;
}
footer .icon {
  width: 1.7rem;
  height: 1.7rem;
}

.btn-square {
  width: 30px;
  height: 30px;
  background-color: rgb(230, 230, 230);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.5s, transform 0.5s;
}
.btn-square:hover {
  background-color: rgb(180, 180, 180);
  transform: translateY(-4px);
}
.btn-square:active {
  background-color: rgb(130, 130, 130);
  transform: scale(0.92);
}

.todays-text {
  font-weight: 900;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.dedicated-text {
  width: 35px;
  background-color: rgb(180, 180, 180);
  border-radius: 45%;
  margin: auto;
  transition: background-color 0.5s, transform 0.5s;
}
.dedicated-text:hover {
  background-color: rgb(130, 130, 130);
  transform: translateY(3px);
}

.fixed-table-layout {
  table-layout: fixed;
}

.user-cell,
.img-cell,
.statistics-cell,
table td {
  min-width: 150px;
}

.user-cell,
.statistics-cell {
  flex: 1;
  overflow-x: auto;
  white-space: nowrap;
}

.user-cell {
  max-width: 9vw;
}

.statistics-cell {
  max-width: 14vw;
}

.img-cell {
  max-width: 9vw;
}

.scrollable-content {
  max-height: 55vh;
  overflow-y: auto;
  overflow-x: auto;
}

.profile-caption {
  font-size: 2.1rem;
  font-weight: bold;
}

.profile-subtitle {
  font-size: 1.55rem;
  font-weight: bold;
}

.game-card-img-height {
  height: 55vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.content {
  flex-grow: 1;
}

.white-space-nowrap {
  white-space: nowrap;
}

.alert ul {
  margin-top: 0;
  margin-bottom: 0;
}
