header .nav {
  --bs-nav-link-hover-color: white;
}
header .nav-link {
  color: white;
  transition: color 0.5s, background-color 0.5s, transform 0.5s;
  border-radius: 12px;
}
header .nav-link:hover {
  color: #ffe800;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-4px);
}
header .nav-link:active {
  color: #838300;
  transform: scale(0.92);
}
header .dropdown-menu .dropdown-item {
  color: white;
  transition: color 0.5s, background-color 0.5s, transform 0.5s;
  border-radius: 12px;
}
header .dropdown-menu .dropdown-item:hover {
  color: #ffe800;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-4px);
}
header .dropdown-menu .dropdown-item:active {
  color: #838300;
  transform: scale(0.92);
}

#profile-avatar {
  border-radius: 50%;
  background-color: white;
  width: 2.3rem;
  height: 2.3rem;
}

footer {
  margin-top: auto;
}
footer span {
  color: white;
}
footer .icon {
  width: 1.7rem;
  height: 1.7rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.content {
  flex-grow: 1;
}
