.scrollable-content {
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: auto;
}

.profile-caption {
    font-size: 2.1rem;
    font-weight: bold;
}

.profile-subtitle {
    font-size: 1.55rem;
    font-weight: bold;
}
