.table-name {
    font-size: 2rem;
    font-weight: bold;
}

.scrollable-table {
    max-height: 50vh;
    overflow-x: auto;
}

.table-cell {
    width: 13vw;
    max-width: 13vw;
    overflow: auto;
    white-space: nowrap;
}
